Source/CineScope/CineScope/.vs/CineScope/CopilotIndices/17.13.431.34963/CodeChunks.db
Source/CineScope/CineScope/.vs/CineScope/CopilotIndices/17.13.431.34963/SemanticSymbols.db
Source/CineScope/CineScope/.vs/CineScope/DesignTimeBuild/.dtbcache.v2
Source/CineScope/CineScope/.vs/CineScope/v17/.suo
Source/CineScope/CineScope/.vs/CineScope/v17/DocumentLayout.backup.json
Source/CineScope/CineScope/.vs/ProjectEvaluation/cinescope.projects.v9.bin
Source/CineScope/CineScope/.vs/ProjectEvaluation/cinescope.metadata.v9.bin
Source/CineScope/CineScope/.vs/ProjectEvaluation/cinescope.strings.v9.bin
Source/CineScope/CineScope/CineScope/CineScope/CineScope.csproj
Source/CineScope/CineScope/CineScope/CineScope/obj/CineScope.csproj.nuget.g.props
Source/CineScope/CineScope/CineScope/CineScope/obj/CineScope.csproj.nuget.dgspec.json
Source/CineScope/CineScope/CineScope/CineScope/obj/project.assets.json
Source/CineScope/CineScope/CineScope/CineScope/obj/project.nuget.cache
Source/CineScope/CineScope/CineScope/CineScope/obj/Debug/net8.0/CineScope.AssemblyInfoInputs.cache
Source/CineScope/CineScope/CineScope/CineScope/obj/Debug/net8.0/CineScope.AssemblyInfo.cs
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/CineScope.Client.csproj.nuget.dgspec.json
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/CineScope.Client.csproj.nuget.g.props
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/project.assets.json
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/project.nuget.cache
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/Debug/net8.0/CineScope.Client.AssemblyInfo.cs
Source/CineScope/CineScope/CineScope/CineScope.Client/obj/Debug/net8.0/CineScope.Client.AssemblyInfoInputs.cache
