@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="text-danger fw-bold">CINE</span><span class="text-white">SCOPE</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="movies">
                        <i class="bi bi-film"></i> Movies
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="top-rated">
                        <i class="bi bi-star-fill"></i> Top Rated
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register">
                        <i class="bi bi-person-plus"></i> Register
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}