@using MudBlazor

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column gap-4">
            <div class="d-flex align-center">
                <MudIcon Icon="@Icons.Material.Filled.Warning" Color="@Color" Size="Size.Large" Class="mr-3" />
                <MudText>@ContentText</MudText>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Default" OnClick="Cancel" DisableElevation>Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="@Color" OnClick="Submit" DisableElevation>
            @ButtonText
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public string ContentText { get; set; } = "Are you sure?";
    [Parameter] public string ButtonText { get; set; } = "Delete";
    [Parameter] public Color Color { get; set; } = Color.Error;

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
} 