@page "/"
@using MudBlazor

<PageTitle>CineScope - Your Movie Resource</PageTitle>

<div class="hero-section" style="background-image: url('https://m.media-amazon.com/images/M/MV5BNDkwY2I3ZWQtZGYxMC00N2QyLTg2MmQtZTU5ZTY0Y2M0YTY4XkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_.jpg'); background-size: cover; background-position: center;">
    <div class="hero-content">
        <MudText Typo="Typo.h1" Class="hero-title">Welcome to CineScope</MudText>
        <MudText Typo="Typo.subtitle1" Class="hero-description">
            Discover, review, and discuss your favorite movies with fellow film enthusiasts.
            CineScope provides a platform to share your thoughts and explore new cinematic experiences.
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="mt-4">
            Explore Movies
        </MudButton>
    </div>
</div>

<MudText Typo="Typo.h4" Class="mt-8 mb-4">Top Rated Movies</MudText>

<MudGrid>
    @foreach (var i in Enumerable.Range(1, 3))
    {
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="4" Class="movie-card">
                <MudCardMedia Image="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" Height="300" />
                <MudCardContent Class="pt-3 pb-3">
                    <MudText Typo="Typo.h5">The Shawshank Redemption</MudText>
                    <MudText Typo="Typo.body2">Drama | 1994</MudText>
                    <MudRating ReadOnly="true" SelectedValue="5" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Secondary">Review</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>

<MudDivider Class="my-8" />

<MudText Typo="Typo.h4" Class="mb-4">Recently Added</MudText>

<MudGrid>
    @foreach (var i in Enumerable.Range(1, 3))
    {
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="4" Class="movie-card">
                <MudCardMedia Image="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_.jpg" Height="300" />
                <MudCardContent Class="pt-3 pb-3">
                    <MudText Typo="Typo.h5">The Godfather</MudText>
                    <MudText Typo="Typo.body2">Crime, Drama | 1972</MudText>
                    <MudRating ReadOnly="true" SelectedValue="4" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Secondary">Review</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>