@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Transparent" Style="background-color: transparent;">
        <MudLink Href="/" Color="Color.Inherit" Underline="Underline.None">
            <MudText Typo="Typo.h5">CineScope</MudText>
        </MudLink>
        <MudSpacer />
    </MudAppBar>

    <MudMainContent>
        <div class="auth-container">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    // No additional code needed for this simple layout
} 